assignment5.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
  <xsd:element name = "Community">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name = "farmer" type = "Farmer" minOccurs = "0" maxOccurs = "Unbounded"\>
        <xsd:element name = "kids" type = "Kids" minOccurs = "0" maxOccurs = "Unbounded"\>
        <xsd:element name = "village" type = "Village" minOccurs = "0" maxOccurs = "Unbounded"\>
        <xsd:element name = "school" type = "School" minOccurs = "0" maxOccurs = "Unbounded"\>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:key name = "FarmerSIN">
      <xsd:selector xpath = "farmer"/>
      <xsd:field xpath = 'SIN'/>
    </xsd:key>
    <xsd:key name = "VillageName">
      <xsd:selector xpath = "village"/>
      <xsd:field xpath = 'name'/>
    </xsd:key>
    <xsd:key name = "KidsSIN">
      <xsd:selector xpath = "kids"/>
      <xsd:field xpath = 'SIN'/>
    </xsd:key>
    <xsd:key name = "SchoolName">
      <xsd:selector xpath = "school"/>
      <xsd:field xpath = 'sname'/>
    </xsd:key>
    <xsd:keyref name = "FarmerVillage" refer = "VillageName">
      <xsd:selector xpath = "farmer"/>
      <xsd:field xpath = 'vname'/>
    </xsd:keyref>
    <xsd:keyref name = "KidsParent1" refer = "FarmerSIN">
      <xsd:selector xpath = "kids"/>
      <xsd:field xpath = 'p1_sin'/>
    </xsd:keyref>
    <xsd:keyref name = "KidsParent2" refer = "FarmerSIN">
      <xsd:selector xpath = "kids"/>
      <xsd:field xpath = 'p2_sin'/>
    </xsd:keyref>
    <xsd:keyref name = "KidsSchool" refer = "SchoolName">
      <xsd:selector xpath = "kids"/>
      <xsd:field xpath = 's_name'/>
    </xsd:keyref>
    <xsd:keyref name = "SchoolVillage" refer = "VillageName">
      <xsd:selector xpath = "school"/>
      <xsd:field xpath = 'vname'/>
    </xsd:keyref>
  </xsd:element>
  <xsd:complexType name = "Farmer">
    <xsd:sequence>
      <xsd:element name = "SIN" type = "xsd:string"/>
      <xsd:element name = "name" type = "xsd:string"/>
      <xsd:element name = "age" type = "xsd:positiveInteger"/>
      <xsd:element name = "sex" type = "xsd:string"/>
      <xsd:element name = "vname" type = "xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name = "Village">
    <xsd:sequence>
      <xsd:element name = "name" type = "xsd:string"/>
      <xsd:element name = "area" type = "xsd:string"/>
      <xsd:element name = "population" type = "xsd:positiveInteger"/>
      <xsd:element name = "province" type = "xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name = "Kids">
    <xsd:sequence>
      <xsd:element name = "SIN" type = "xsd:string"/>
      <xsd:element name = "p1_sin" type = "xsd:string"/>
      <xsd:element name = "p2_sin" type = "xsd:string"/>
      <xsd:element name = "s_name" type = "xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name = "School">
    <xsd:sequence>
      <xsd:element name = "sname" type = "xsd:string"/>
      <xsd:element name = "p1_vnamesin" type = "xsd:string"/>
      <xsd:element name = "no_classes" type = "xsd:positiveInteger"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
